<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="livraison">
            <h2><span>Livraison</span> {{livraison.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{livraison.date}}</span>
                </dd>
                <dt><span>Commande</span></dt>
                <dd>
                    <div *ngIf="livraison.commande">
                        <a [routerLink]="['/commande', livraison.commande?.id, 'view']">{{livraison.commande?.date}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/livraison', livraison.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
