<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facture">
            <h2><span>Facture</span> {{facture.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{facture.date}}</span>
                </dd>
                <dt><span>Montant</span></dt>
                <dd>
                    <span>{{facture.montant}}</span>
                </dd>
                <dt><span>Commande</span></dt>
                <dd>
                    <div *ngIf="facture.commande">
                        <a [routerLink]="['/commande', facture.commande?.id, 'view']">{{facture.commande?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/facture', facture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
